.im_topBar{
    width: 100%;
    height: 20vh;
    overflow-x: hidden;
    transform: translate(0, 0);
}

.im_shapeFill{
    position: absolute;
    transform-origin: center;
}

.im_shapeFill > svg{
    position: absolute;
    transform-origin: top left;
}

.square{
    width: 80px;
    height: 80px;
    rotate: -15deg;
    top: 5vh;
    left: -5vw;
}

.square :nth-child(even){
    transform: translate(-15px, 15px);
}

.triangle{
    width: 100px;
    height: 100px;
    left: 25vw;
    top: 6vh;
    transform: rotate(75deg);
}

.triangle :nth-child(even){
    transform: translate(25px, 15px);
}

.pentagon{
    width: 110px;
    height: 110px;
    left: 50vw;
    top: -1vh;
    transform-origin: center;
    transform: rotate(20deg);
}

.pentagon :nth-child(even){
    transform: translate(15px, 5px);
}

.cloud{
    left: 80vw;
    top: 7.2vh;
}

.cloud :nth-child(even){
    transform: translate(15px, 5px);
}
