@import 'tailwindcss';

@font-face {
  font-family: 'Permanent-Marker';
  src: url('../src/assets/fonts/PermanentMarker-Regular.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme{
  --font-game: 'Permanent-Marker', sans-serif;
  --color-game-gray: #636363;
  --color-game-light-gray: #EBEBEB;
  --color-game-green: #B1CE21;
  --color-game-rose: #FA448B;
  --color-game-purple: #491D88;
  --color-game-turquoise: #3C947A;
  --color-game-red: #FA4544;
  --color-game-border-gray: #454545;
}

